<!DOCTYPE html>
<html>
  <head>
    <title>DSC-RIT recruitment process</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="main-block">
      <img src="{{ url_for('static', filename='dscnew.png') }}" alt="Not showing">
     <h1>DSC-RIT recruitment test 2020.</h1>
     <h3>Please chose your field of choice</h3>
     <button><a href="{{url_for('web1')}}" class="button" type="submit">Web Development</a></button>
     <button><a href="{{url_for('mobile1')}}" class="button" type="submit">App Development</a></button>
     <button><a href="{{url_for('ml1')}}" class="button" type="submit">Machine Learning</a></button>
    </div>
  </body>
</html>
